<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37973140115-0vuhe97tdhpqk5af5ovbonel0jmftqpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37973140115-0vuhe97tdhpqk5af5ovbonel0jmftqpv</string>
	<key>API_KEY</key>
	<string>AIzaSyCMAkdIW0n2uzbf82t2Z3zWS7FwRDOcAEM</string>
	<key>GCM_SENDER_ID</key>
	<string>37973140115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephandowless.SwiftUIChat</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-11a0a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-11a0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37973140115:ios:8a3d35de0967b60c28e366</string>
</dict>
</plist>